:root {
  --c: 15vw;
}

.container {
  background-color: var(--bgColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgContainer {
  background: var(--secColor);
  height: calc(1vw + var(--c));
  width: calc(1vw + var(--c));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  clip-path: circle(40%);
}
.imgContainer img {
  height: var(--c);
  width: var(--c);
  border-radius: 50%;
  transform: scale(0.8);
}

.container:hover {
  transition: 0.3s;
  background: rgb(122, 72, 5);
  box-shadow: none;
}
.dietsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dietTag {
  background: var(--tagBg);
  color: var(--tagFont);
  display: inline-block;
  margin: 10px;
  padding: 1px 5px;
  border-radius: 3px;
}
