.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailBody {
  background-color: var(--bgPrimary);
  color: var(--secColor);
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipeDetail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipeDetail-container {
  padding: 35px;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 867px;
  align-items: center;
  justify-content: center;
}

.detailBody .button {
  background: var(--secColor);
  color: var(--bgColor);
}
.detailBody .summary {
  line-height: 1.5;
  font-size: 1.2em;
}

.diets-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  align-content: space-around;
  justify-content: center;
}
.tag {
  margin: 15px;
  color: var(--secColor);
  display: inline;
  padding: 1px 5px;
  border-radius: 3px;
}
.diet{
  background: var(--tagBg);
  color: black;
}
.type{
  /* background: ; */
  color: black;
}
