.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailBody {
  font-size: 0.8rem;
  background-color: var(--bgPrimary);
  color: var(--fontColor);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipeDetail {
  padding: 35px;
  background-color: var(--bgColor);
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipeDetail-title {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
}
.buttonDelete {
  margin: 10px;
  border-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  background: var(--tagSecBg);
  cursor: pointer;
  color: var(--fontColor);
  padding: 15px 15px;
  transition: 0.4s;
}
.recipeDetail-container {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
}

.detailBody .button {
  background: var(--fontColor);
  color: var(--bgColor);
}
.detailBody .summary {
  line-height: 1.5;
  font-size: 1.2em;
}

.diets-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-around;
  justify-content: center;
}
.tag {
  margin: 15px;
  color: var(--fontColor);
  display: inline;
  padding: 1px 5px;
  border-radius: 3px;
}
.diet{
  background: var(--tagBg);
  color: black;
}
.type{
  background: rgb(2, 192, 217);
  color: black;
}
.imageDetail {
  height: 150px;
}

.buttonDelete:hover {
  
  background: var(--buttonHover);
  color: var(--fontTag);
}

.recipeDetail-content{
  padding-left: 10px;
}