nav {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--tagSecBg);
}

.navigationForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease;
}
.navigationForm .active{
  width: 50px;
}
.navigationForm .text {
  display: none;
  transition: all 2s;
}
.navigationForm .text.active {
  display: inline;
  border-style: none;
  position: relative;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 10px;
  width: 350px;
}
form .searchIcon {
  width: 10px;

}
.navigationForm .cancel {
  display: none;
}
.navigationForm img {
  width: 30px;
  filter: invert(1);
}
.navigationForm img:hover {
  filter: invert(0);
}
.navigationForm .cancel.active {
  display: inline;
}
.logo img{
  height: 80px;
  background-size:80px;
}
