.createBody {
  padding: 70px;
  color: var(--fontColor);
  background-color: var(--bgPrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.createRecipe {
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: #f00;
}
.createRecipe-container {
  display: flex;
  flex-direction: column;

  width: 867px;
  align-items: center;
  justify-content: center;
}
.createRecipe-container input {
  font-family: sans-serif;
  padding: 10px;
  background: var(--buttonHover);
  border-style: none;
}
.createRecipe-container label {
  display: block;
  margin: 20px;
}
.createBody .button {
  background: var(--bgColor);
  color: var(--buttonFont);
  width: 163px;
}
.createBody .button:hover {
  background: var(--fontColor);
  color: var(--bgColor);
  width: 163px;
}

.diets-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-around;
  justify-content: center;
  margin-bottom: 30px;
}
.diets-container .diet-tag {
  background: var(--buttonHover);
  margin: 15px;
  cursor: pointer;
  color: var(--fontTag);
  display: inline;
  padding: 1px 5px;
  border-radius: 3px;
}
.diets-container .diet-tag.included {
  background: var(--tagBg);
  margin: 15px;
  cursor: pointer;
  color: var(--fontColor);
  display: inline;
  padding: 1px 5px;
  border-radius: 3px;
}

.step-button {
  border-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  color: var(--buttonFont);
  padding: 12px 28px;
  height: max;
  transition: 0.4s;
}
.step-button:hover {
  box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  -webkit-box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  -moz-box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  color: #282c34;
}
.createdStep {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createdStep input {
  height: fit-content;
}
.image-container img {
  width: 400px;
}
.createBody .create {
  margin: 10px;
  background: var(--fontColor);
  color: var(--bgColor);
  width: 163px;
}
.createBody .create:hover {
  background: var(--bgColor);
  color: var(--fontColor);
}
.alert {
  position: absolute;
  /* background: #0005; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-container {
  background: var(--fontColor);
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
