.createBody {
  padding: 70px;
  color: var(--secColor);
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.createRecipe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: #f00;
}
.createRecipe-container {
  box-shadow: 10px 10px 67px 58px var(--secColor);
  -webkit-box-shadow: 10px 10px 67px 58px var(--secColor);
  -moz-box-shadow: 10px 10px 67px 58px var(--secColor);
  display: flex;
  flex-direction: column;

  width: 867px;
  align-items: center;
  justify-content: center;
}
.createRecipe-container input {
  font-family: sans-serif;
  padding: 10px;
  background: var(--secColor);
  border-style: none;
}
.createRecipe-container label {
  display: block;
  margin: 20px;
}
.createBody .button {
  background: var(--bgColor);
  width: 163px;
}
.createBody .create {
  background: var(--secColor);
  color: var(--bgColor);
  width: 163px;
}

.diets-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-around;
  justify-content: center;
  margin-bottom: 30px;
}
.diets-container .diet-tag {
  background: var(--secColor);
  margin: 15px;
  cursor: pointer;
  color: var(--bgColor);
  display: inline;
  padding: 0 5px;
  border-radius: 5px;
}
.diets-container .diet-tag.included {
  background: #e33;
  margin: 15px;
  cursor: pointer;
  color: var(--secColor);
  display: inline;
  padding: 0 5px;
  border-radius: 5px;
}

.step-button {
  border-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  color: #ccc;
  padding: 12px 28px;
  height: max;
  transition: 0.4s;
}
.step-button:hover {
  box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  -webkit-box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  -moz-box-shadow: 10px 10px 117px 64px #c5c3c3 inset;
  color: #282c34;
}
.createdStep {
  display: flex;
}
.createdStep input{
  height: fit-content;
}
.image-container img {
  width: 400px;
}
.alert{
  position: absolute;
  background: #000a;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
