.home-container {
  color: var(--secColor);
  background-color: var(--bgColor);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cards-container {
  padding: 8vw;
  display: flex;
  display: grid;
  grid-gap: 4vw;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cards-container > *:nth-child(2n):nth-last-of-type(1) {
  grid-column: span 3;
}
.pagination {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
