/* .container{
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  
/* } */ 
.buttonNormal{
  border-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 28px 28px;
  transition: 0.4s;
  background: transparent;
  color: var(--buttonFont);
}
.buttonNormal:hover{
  border-style: none;
  cursor: pointer;
  background: var(--tagSecBg);
  color: #000;
}
.active{
  border-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 28px 28px;
  transition: 0.4s;
  background: var(--tagBg);
  color: #282c34;
}